@tailwind base;
@tailwind components;
@tailwind utilities;


body.dark-mode {
    background-color: #333;
    color: #fff;
  }

@font-face {
  font-family: 'SansDispay' ;
  src: url(../Assets/fonts/NotoSansDisplay-Medium.ttf), url(../Assets/fonts/NotoSansDisplay-Regular.ttf);
}

@font-face {
  font-family: 'SansMono';
  src: url(../Assets/fonts/NotoSansMono-Bold.ttf), url(../Assets/fonts/NotoSansMono-Regular.ttf);
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../Assets/OpenSans-Regular.ttf);
}